.world-map__section,
.countries-overview__section,
.search-country__section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    padding: 2rem;
}

.world-map__section {
    background-color: #FFF;
}

.world-map__img {
    max-width: 80rem;
}

.countries-overview__section {
    background-color: #CCDCDC;
}

.countries-overview__list {
    list-style-type: none;
    column-count: 3;
    margin: 1.5rem;
    padding: 1.5rem;
}

.countries-overview__list li {
    padding: 1rem;
    margin-bottom: 1.5rem;
}

.flag-name__container {
    display: flex;
    align-items: flex-end;
    margin-bottom: 1rem;
}

.flag {
    width: 5rem;
    margin-right: 1rem;
}


.blue {
    color: #5575C1;
}

.green {
    color: #4C834B;
}

.red {
    color: #D24E5B;
}

.yellow {
    color: #dda550;
}

.purple {
    color: #A653BA;
}

.default {
    color: #808080;
}



.spinning-globe__img {
    max-width: 40rem;
}

.search-country-information {
    background-color: #A9D060;
    opacity: 0.8;
    border-radius: 1.4rem;
    box-shadow: 0.25rem 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
    margin: 1rem;
}

.search-country-information p {
    margin-top: 0.5rem;
}