@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Roboto+Condensed:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto Condensed', sans-serif;
}

img {
  width: 100%;
}

h1, h2, button {
  font-family: 'Gochi Hand', cursive;
  text-align: center;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 1.3rem;
}

p {
  font-size: 1.2rem;
}